body {
    font-family: 'Rubik';
    background: linear-gradient(
		-50deg,
		#0202de,
		#0e0524,
		#28203b,
		#200c4f,
		#0c1447,
		#2b0538,
		#180547,
		#281e40,
		#2b1b52
	);
	background-size: 400% 400%;
	animation: gradient 13s ease infinite;
	height: 100vh;
    margin: 0;
    padding: 0;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


header {
    background-color: rgba(39, 28, 46, 0.5); /* Semi-transparent background */
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure the header is above other content */
    transition: transform 0.3s ease-in-out; /* Smooth transition using transform */
    transform: translateY(0); /* Start position */
}

.hidden {
    transform: translateY(-100%); /* Hide the header by moving it up */
}

#headernav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#headernav p {
    margin: 0;
    color: white;
    font-size: 18px;
}

#headernav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#headernav ul li {
    margin: 0 10px;
}

#headernav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    font-size: 18px;
}

#headernav ul li a:hover {
    background-color: plum;
}

#toggleButton {
    display: none;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #headernav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(39, 28, 46, 0.9);
    }

    #headernav ul.show {
        display: flex;
    }

    #toggleButton {
        display: block;
    }

    #headernav p {
        flex-grow: 1;
    }
}


#titleName{
    padding: 100px 0px 120px 0px;
    margin-top: 200px;
}

#titleName h1{
    color: #e7dded;
    text-align: center;
    font-size: 50px;
    padding: 40px 0px 5px 0px;

}
#titleName p{
    color: #e7dded;
    text-align: center;
    font-size: 20px;
    padding: 0px 0px 10px 0px;

}

#socials {
    display: flex;
    align-items: center;
    justify-content: center;
}
#socials ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
#socials ul li {
    margin: 20px 15px;
}
#socials ul li a{
    text-decoration: none;
    color:#aa9bb3;
}

#aboutMe, #projects, #contacts {
    display: grid;
    margin-top: 150px;
}


.layer1, .layer2{
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 1px;
}

#aboutMe, #projects, #contacts, h1 {
    color: rgb(231, 221, 237, 0.1);
    text-align: center;
    font-size: 50px;
    
    
}

#aboutMe, #projects, #contacts, h3 {
    color: #b28dc9;
    font-size: 22px;
    padding: 30px 0px 0px 0px;   
}
.aboutMeHr{
    width: 10%; 
    border: 1px solid #b28dc9;
}
.projectsHr{
    width: 5%; 
    border: 1px solid #b28dc9;
}

.aboutPicture {
    display: flex;
    justify-content: flex-end; /* Aligns the image to the right */
    align-items: flex-start;
}

.aboutPicture img {
    max-width: 100%; /* Ensures the image fits within its container */
    height: auto;
}

.aboutMeInfo nav ul li{
    text-decoration: none;
    color:#aa9bb3;
    list-style: none;
    padding: 2px 0px 5px 0px;
}

tr {
  height: 50px;
}

img {
    border-radius: 10px;
    margin-top: 70px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 0px solid #b28dc9;
    padding: 14px 30px;
    color: #e7dded;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.btn:hover  {
    border-color: purple;
    color: #000;
}

.btn::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    background-color: #e7dded;
    position: absolute;
    z-index: -1;
    transition: 0.3s;
}

.btn1:hover::before{
    width: 100%;
}

.btn1::before {
    left: 0;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 0px solid #b28dc9;
    padding: 14px 30px;
    color: #e7dded;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.btn:hover  {
    border-color: purple;
    color: #000;
}

.btn::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    background-color: #e7dded;
    position: absolute;
    z-index: -1;
    transition: 0.3s;
}

.btn1:hover::before{
    width: 100%;
    border-radius: 15px;
}

.btn1::before {
    left: 0;
}

.btn6::before {
    width: 0;
    height: 0;
    border-radius: 100px;
}

/* .container-fluid {
    background: url('background2.gif') no-repeat top center scroll;
    background-size: 100% 950px;
} */

.row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.col-sm-12.col-lg-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* .project-border {
    width: 500px;
    height: 500px;
    background: rgba (40, 32, 46, 0.5);
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: 3px solid #b28dc9;
    padding: 10px 15px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 40px;
} */

.project-border img{
    margin: 0px 0px 0px 0px;
    opacity: 40%;
}
.project-border img:hover{
    margin: 0px 0px 0px 0px;
    opacity: 100%;
}

.project-border:hover  {
    border-color: purple;
    color: #000;
}

/* footer */

a, a:visited {
    text-decoration: none;
}

content a, content a:visited {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

content a p:hover{
    background-color: yellow;
}

/* ======- FOOTER -====== */
footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    background-color: rgba(14,5,36,0.6);
    text-align: center;
}

/* footer text */
footer div p{
    
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer div p i.red{
    color: red;
    size: 24px;
}

/* footer text effects */
footer div p span{
    transition: background-color,color 1500ms ease;
    background-color: black;
    color: white;
}



/* Footer Image Links */
footer a.link {
    -webkit-transition:color 500ms ease;
    -moz-transition:color 500ms ease;
    -o-transition:color 500ms ease;
    transition: color 500ms ease;
    font-size: 3em;
    color: white;
    padding: 10px;
    display:inline-block;
}

/* image links hover effects */
footer a.link:hover {
    color: #9c7af0;
}

/* Resposive Footer */
footer.mobile {
    display:none;
}

@media screen and (max-width: 400px) {
    footer.pc {
        display:none;
    }
    footer.mobile {
        display:block;
    }
    footer.mobile div p {
        font-size: 15px;
    }

}